<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      Crear una web que permite ver los datos de algunos de tus familiares,
      guardados en un BD.
    </h2>
    <h3>
      <ol>
        <li>
          Deberá tener un template, una vista y un modelo (como mínimo, pueden
          usar más)
        </li>
        <li>
          La clase del modelo, deberá guardar mínimo un número, una cadena y una
          fecha (puede guardar más cosas)
        </li>
        <li>Se deberán crear como mínimo 3 familiares</li>
        <li>Los familiares se deben ver desde la web.</li>
      </ol>
    </h3>
  </body>
</html>
